.header {
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

.container {
    margin: 20px;
}

.btn {
    background-color: green;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;

  }

.link {
    background-color: green;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.logout {
    background-color: red;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.login {
    position: absolute;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 50%;
    right: 180px;
    top: 25px;
}

.user {
    position: absolute;
    right: 160px;
    top: 75px;
}

.input {
    width: 50%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.5px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}